body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  background-color: var(--clr-calc);
  border: 1px solid var(--clr-light);
  border-radius: 0.3em;
  padding: 3em;
  width: 500px;
}

/* buttons */

.buttons-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5em;
}

.num-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  grid-column-start: 2;
}

.op-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
}

.additional-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  grid-row-start: 1;
}

.btn {
  background-color: var(--num-clr);
  border-radius: 28px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  /* padding: 16px 14px; */
  height: 45px;
  width: 62px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: var(--op-clr);
}

.btn:active {
  position: relative;
  top: 1px;
}

.num-buttons .btn {
  background-color: var(--num-clr);
}

.num-buttons > .btn:hover {
  background-color: var(--num-clr-hov);
}

.op-buttons .btn {
  background-color: var(--op-clr);
}

.op-buttons > .btn:hover {
  background-color: var(--op-clr-hov);
}

.additional-buttons .btn {
  background-color: var(--op-alt-clr);
  color: var(--clr-dark);
}

.additional-buttons > .btn:hover {
  background-color: var(--op-alt-clr-hov);
}

/* display */

.display {
  padding: 0.5em;
}

.display-input {
  font-size: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
