body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  background-color: var(--clr-calc);
  border: 1px solid var(--clr-light);
  border-radius: 0.3em;
  /* change when done with all elements */
  height: 556px;
  width: 342px;
}
