:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #1c1c1c;

  --num-clr: #505050;
  --num-clr-hov: #3c3c3c;

  --op-clr: #ff9500;
  --op-clr-hov: #ff7f00;

  --op-alt-clr: #d4d4d2;
  --op-alt-clr-hov: #c2c2c0;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
